* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

}

nav {
    z-index: 999;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 64px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #f1f4fd;
}

nav div {
    display: flex;
    align-items: center;
}

nav button {
    height: 64px;
    background-color: #f1f4fd;
    outline: none;
}

nav button:hover {
    background-color: #dddddd;
}

#navl {
    font-size: 14pt;
    width: 160px;
    font-weight: bold;
    border-radius: 2px;
    user-select: none;
    cursor: pointer;
}

.navm {
    width: 84px;
    border-radius: 2px;
    font-size: 13pt;
    user-select: none;
    cursor: pointer;
}

footer {
    width: 80%;
    position: relative;
    padding: 2rem 10% 5rem 10%;
    background-color: #3b4153;
    color: #bebebe;
}

footer>div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer li {
    list-style: none;
}

.footer_li_name {
    margin-bottom: 6px;
    color: #ffffff;
    font-weight: bold;
}

footer ul li a {
    text-decoration: none;
    color: #999999;
    font-size: 11pt;
    font-weight: lighter;
}

footer form {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
}

footer #con_name {
    height: 36px;
    padding: 2px;
    border-radius: 10px;
    margin-bottom: 10px;
    outline: none;

}

footer #con_email {
    height: 36px;
    padding: 2px;
    border-radius: 10px;
    margin-bottom: 10px;
    outline: none;

}

footer #con_content {
    margin-bottom: 10px;
    height: 120px;
    padding: 2px;
    border-radius: 10px;
    outline: none;
    resize: none;
}

footer #con_submit {
    width: auto;
    height: 36px;
    padding: 2px;
    border: 1px solid #ffffff;
    background-color: #4169e1;
    border-radius: 10px;
    color: #ffffff;
    outline: none;
}

@media (max-width: 540px) {
    nav {
        width: 100%;
        padding: 0;
        height: 52px;
    }

    #navl {
        font-size: 12pt;
        height: 52px;
    }

    .navm {
        font-size: 11pt;
        height: 52px;
        width: 68px;
    }
}